<div class="container">
  <mat-toolbar color="primary">
    <img width="70" height="60" src="./../assets/icons/c.svg" />
    <h1 class="brand">ontacts</h1>
  </mat-toolbar>
  <div fxLayout="row wrap">
    <app-contact-list (toggle)="changeState($event)" [renderContacts]="addContactToggle"></app-contact-list>
  </div>
  <div class="add-contact">
    <button
      mat-fab
      color="primary"
      matTooltip="Add Contact"
      class="shift-right"
      (click)="addContact()"
    >
      <mat-icon> person_add </mat-icon>
    </button>
  </div>
</div>
